<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KeuanganStienus.Properties.Settings.stienusConnectionString"
            connectionString="Data Source=LAPTOP-TRVBE94C\SQLEXPRESS;Initial Catalog=stienus;User ID=stienusadmin;Password=abcd1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>